src/main/mule/world-timezone-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5824a4bd-4681-49d5-8340-02a3271bfefe" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="b9a47dcd-23cd-4d37-823b-667d5a0dd7e7" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" port="80" />
	</http:request-config>
	<flow name="world-timezone-apiFlow" doc:id="17b71bf5-c0f5-4397-87dc-b9c79f30a8a2" >
		<http:listener doc:name="Listener" doc:id="8e92e9ab-ed90-4bc8-b6dc-dcdbe98023f4" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="ef2c5e62-1439-4a27-b0e6-f387540a4c1a" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
